<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
    <div class="container">

        <a class="navbar-brand fw-bold">Umang Prajapati</a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>

            </ul>
        </div>

    </div>
</nav>

<!-- HERO -->

<section class="hero-section text-white text-center d-flex align-items-center">

    <div class="container">

        <img src="assets/umang.jpeg" class="rounded-circle shadow-lg mb-4 profile-img">

        <h1 class="fw-bold mb-2">
            Hi, I'm <span class="text-info">Umang Prajapati</span>
        </h1>

        <h4 class="mb-3">
            <span id="typing"></span>
        </h4>
        <div>

            <a href="assets/umang_prajapati_resume.pdf" class="btn btn-info me-2" target="_blank">
                Download Resume
            </a>

            <a href="https://github.com/umang923" class="btn btn-outline-light me-2" target="_blank">
                GitHub
            </a>

            <a href="https://linkedin.com/in/umang-prajapti" class="btn btn-outline-light" target="_blank   ">
                LinkedIn
            </a>

        </div>

    </div>

</section>

<!-- ABOUT -->

<section id="about" class="about-modern">

    <div class="container">

        <div class="row align-items-center g-5">

            <!-- LEFT SIDE -->
            <div class="col-lg-6">

                <div class="about-glass">

                    <h2 class="about-title">About Me</h2>

                    <p  >
                        Hi, I’m Umang Prajapati, an MCA final-year student and an aspiring .NET & Angular developer
                        passionate about building modern, user-friendly web applications and exploring new technologies.
                    </p>

                    <p>
                        I am currently improving my skills through hands-on projects with ASP.NET, Angular, JavaScript,
                        and SQL. I am also learning Python, Java, and AI/ML to expand my knowledge and stay ahead in the
                        tech world.
                    </p>

                    <p>
                        I focus on continuous learning, problem-solving, and building functional digital solutions. My
                        goal is to grow as a full-stack developer and AI enthusiast while contributing to meaningful
                        projects that make a real impact.
                    </p>

                </div>

            </div>


            <!-- RIGHT SIDE -->
            <div class="col-lg-6">

                <div class="about-glass">

                    <h2 class="about-title">Education</h2>

                    <div class="timeline">

                        <div class="timeline-item">
                            <h6>MCA (Present)</h6>
                            <p>Lok Jagruti University</p>
                        </div>


                        <div class="timeline-item">
                            <h6>BCA (2024)</h6>
                            <p>Chimanbhai Patel Institute of Computer Application</p>
                        </div>

                        <div class="timeline-item">
                            <h6>12th (2021)</h6>
                            <p>P.B. Patel School Kadi</p>
                        </div>

                        <div class="timeline-item">
                            <h6>10th (2019)</h6>
                            <p>P.B. Patel School Kadi</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<!-- SKILLS -->

<section id="skills" class="py-6">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">Skills</h2>

        <div class=" text-center row g-4">

            <div class="col-md-4">

                <div class="card text-center shadow-sm border-0 p-4">

                    <i class="fa-solid fa-code fa-2x text-primary mb-3"></i>

                    <h5>Frontend</h5>

                    <p class="text-muted">
                        HTML<br>
                        CSS<br>
                        JavaScript<br>
                        Bootstrap<br>
                        Angular
                    </p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card text-center shadow-sm border-0 p-4">

                    <i class="fa-solid fa-server fa-2x text-success mb-3"></i>

                    <h5>Backend</h5>

                    <p class="text-muted">
                        ASP.NET (C#)<br>
                        Java<br>    
                        Python<br>
                        Laravel (PHP)
                    </p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card text-center shadow-sm border-0 p-4">

                    <i class="fa-solid fa-database fa-2x text-warning mb-3"></i>

                    <h5>Database</h5>

                    <p class="text-muted">
                        SQL Server<br>
                        MySQL
                    </p>

                </div>

            </div>

            <div class='col-md-4'>
                <div class="card text-center shadow-sm border-0 p-4">
                    <i class="fa-solid fad fa-tools fa-2x text-info mb-3"></i>
                    <h5>Tools</h5>
                    <p class="text-muted">
                        Git<br>
                        GitHub<br>
                        Visual Studio<br>
                        VS Code<br>
                        SSMS<br>
                        Postman
                    </p>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card text-center shadow-sm border-0 p-4">

                    <i class="fa-solid fa-graduation-cap fa-2x text-danger mb-3"></i>

                    <h5>Learning</h5>

                    <p class="text-muted">
                        Angular<br>
                        ASP.NET Web API<br>
                        Machine Learning
                    </p>

                </div>

            </div>
        </div>

    </div>

</section>
<!-- PROJECTS -->

<section id="projects" class="py-6">

    <div class="container">

        <h2 class="text-center fw-bold mb-5">My Projects</h2>

        <div class="row g-4">

            <div class="col-md-4" *ngFor="let project of projects">

                <div class="card shadow-sm h-100">
                    <img *ngIf="project.imgUrl" src="{{project.imgUrl}}" alt="No Image" class="card-img-top">
                    <img *ngIf="!project.imgUrl" src="assets/mot.jpg" alt="NO Images" class="card-img-top">


                    <div class="card-body">

                        <h5 class="card-title">{{project.title}}</h5>

                        <p class="card-text">
                            {{project.description}}
                        </p>

                    </div>
                    <div class="tech-stack">
                        <span *ngFor="let t of project.techStack" >
                            {{t}}
                        </span>
                    </div>
                    <div class="card-footer ">

                        <a href="{{project.github}}" class="btn btn-outline-dark btn-sm me-2" target="_blank">
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->

<section id="contact" class="bg-dark text-white py-5">

    <div class="container text-center">

        <h2 class="fw-bold mb-4">Contact</h2>

        <div class="d-flex justify-content-center gap-4 flex-wrap">

            <a href="https://mail.google.com/mail/?view=cm&to=umangprajapati812@gmail.com"
                class="text-white text-decoration-none" target="_blank">
                <i class="fa-solid fa-envelope me-2"></i>umangprajapati812@gmail.com
            </a>
            
            <a href="https://github.com/umang923" class="text-white text-decoration-none" target="_blank">
                <i class="fa-brands fa-github me-2"></i>GitHub
            </a>

            <a href="https://linkedin.com/in/umang-prajapti" class="text-white text-decoration-none" target="_blank">
                <i class="fa-brands fa-linkedin me-2"></i>LinkedIn
            </a>

        </div>

    </div>
</section>

<footer class="text-center text-white p-3 bg-dark">
    © 2026 Umang Prajapati
</footer>