.card{
transition:all 0.35s ease;
}
/* Navbar Styles */ 
.navbar{
backdrop-filter: blur(10px);
background: rgba(15,23,42,0.85) !important;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.navbar-brand{
font-size:22px;
letter-spacing:1px;
}

.nav-link{
position:relative;
margin-left:15px;
}

.nav-link::after{
content:"";
position:absolute;
bottom:0;
left:0;
width:0%;
height:2px;
background:#38bdf8;
transition:0.3s;
}

.nav-link:hover::after{
width:100%;
}

/* Hero Section Styles */
.hero-section{
min-height:100vh;
background:
radial-gradient(circle at top,#38bdf820,transparent 60%),
linear-gradient(135deg,#0f172a,#020617);
}

.hero-section h1{
font-size:48px;
}

.hero-section h4{
color:#38bdf8;
}

.hero-section .btn{
padding:10px 22px;
border-radius:30px;
}

.hero-section .btn-info{
background:#38bdf8;
border:none;
}

.hero-section .btn-outline-light:hover{
background:#38bdf8;
border-color:#38bdf8;
}

/* Profile Image Styles */
.profile-img{
width:160px;
height:160px;
border-radius:50%;
border:5px solid rgba(255,255,255,0.8);
object-fit:cover;
object-position:center;
display:block;
margin:0 auto 20px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.profile-img:hover{
transform:scale(1.05);
}

/* About Section Styles */
.about-modern{
padding:120px 0;
background: linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

.about-glass{
background: rgba(255,255,255,0.08);
padding:40px;
border-radius:15px;
backdrop-filter: blur(10px);
border:1px solid rgba(255,255,255,0.1);
transition:0.4s;
}                               

.about-glass:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.about-title{
font-weight:700;
margin-bottom:20px;
}
/* education */
.about-title::after{
content:"";
width:60px;
height:3px;
background:#38bdf8;
display:block;
margin-top:8px;
}

.timeline{
position:relative;
padding-left:40px;
}

.timeline::before{
content:"";
position:absolute;
left:12px;
top:0;
width:3px;
height:100%;
background:linear-gradient(#38bdf8,#0ea5e9);
border-radius:3px;
transition:0.3s;
}

.timeline-item{
position:relative;
margin-bottom:35px;
padding-left:15px;
}

.timeline-item::before{
content:"";
position:absolute;
left:-35px;
top:6px;
width:18px;
height:18px;
background:#38bdf8;
border-radius:50%;
border:4px solid #0f172a;
box-shadow:0 0 10px #38bdf8;
transition:0.3s;

}

.timeline-item h6{
font-size:17px;
font-weight:600;
margin-bottom:3px;
}

.timeline-item p{
color:#cbd5f5;
margin:0;
font-size:14px;
}

/* Projects Section Styles */
/* PROJECT SECTION */
#projects{
background: linear-gradient(135deg,#020617,#0f172a);
color:white;
}

#projects h2{
text-align: center;
margin-bottom:60px;
}

#projects h2::after{
content:"";
width:70px;
height:3px;
background:#38bdf8;
display:block;
margin:10px auto;
/* margin-top:10px; */
}

/* CARD STYLE */

#projects .card{
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.08);
border-radius:15px;
overflow:hidden;
backdrop-filter:blur(10px);
transition:all 0.35s ease;
color:white;
}

/* CARD HOVER */

#projects .card:hover{
transform:translateY(-10px);
box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

/* IMAGE */

#projects .card img{
height:200px;
object-fit:cover;
transition:0.4s;
}

#projects .card:hover img{
transform:scale(1.08);
}

/* BODY */

#projects .card-body{
padding:20px;
}

/* FOOTER */

#projects .card-footer{
background:transparent;
border-top:1px solid rgba(255,255,255,0.08);
padding:15px 20px;
display:flex;
gap:10px;
}

/* BUTTONS */

#projects .btn-outline-dark{
border:1px solid #38bdf8;
color:#38bdf8;
}

#projects .btn-outline-dark:hover{
background:#38bdf8;
color:black;
}

#projects .btn-primary{
background:#38bdf8;
border:none;
}

#projects .btn-primary:hover{
background:#0ea5e9;
}

.tech-stack{
margin-top:10px;
}

.tech-stack span{
display:inline-block;
background:rgba(13,110,253,0.15);
color:#4dabff;
border:1px solid #4dabff;
padding:4px 10px;
margin:3px;
border-radius:20px;
font-size:12px;
}

/* Skills Section Styles */
#skills{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}
#skills h2::after{
content:"";
width:50px;
height:3px;
background:#38bdf8;
display:block;
margin:10px auto;
/* margin-top:10px; */
}
#skills .card{
background:rgba(255,255,255,0.05);
color:white;
border:1px solid rgba(255,255,255,0.1);
backdrop-filter:blur(8px);
border-radius:12px;
padding:30px;
text-align:center;
transition:all 0.3s ease;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
min-height:270px;
}

#skills .card:hover{
transform:translateY(-8px);
box-shadow:0 20px 40px rgba(0,0,0,0.35);
}


#skills p{
color:white !important;
font-size:15px;
line-height:1.6;
}

#skills h5{
margin-bottom:10px;
}

#skills i{
font-size:30px;
}

/* Contact Section Styles */
#contact a{
font-size:18px;
padding:10px 18px;
border-radius:25px;
transition:0.3s;
}

#contact a:hover{
background:#38bdf8;
color:black !important;
}
#contact h2::after{
content:"";
width:70px;
height:3px;
background:#38bdf8;
display:block;
margin:10px auto;
/* margin-top:10px; */
}
/* General Section Padding */
section{
padding:120px 0;
}
/* Footer Styles */
body{
font-family: 'Poppins', sans-serif;
background:#020617;
}